<div class="body-container">
  <div class="body">
    <div class="body-header">
      <h1 class="body-title">WELCOME TO JOB BOARD</h1>
      <p class="body-texts">
        We are operating for over a decade and trusted by world's leading
        companies. We are one of the largest community with over a million
        visitors.
      </p>
      <a routerLink="/joblistings" mat-raised-button color="primary"
        >See Job listings</a
      >
    </div>
    <div class="body-grid-container">
      <div class="body-grid-cards">
        <mat-card class="body-grid-card">
          <mat-card-header>
            <mat-card-title>AI-powered candidate matching</mat-card-title>
            <mat-card-subtitle>AI feature included</mat-card-subtitle>
          </mat-card-header>
          <img
            class="body-grid-card-img"
            mat-card-image
            src="assets/images/home-image-1.jpg"
            alt="Product design image"
          />
          <mat-card-content>
            <p>
              This feature would utilize natural language processing and machine
              learning to match job seekers' skills and experiences with
              relevant job openings on the platform. Imagine a system that goes
              beyond simple keyword matching.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Read more</button>
            <button mat-button>Suggest a feature</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="body-grid-card">
          <mat-card-header>
            <mat-card-title>Collaborative hiring team tools</mat-card-title>
            <mat-card-subtitle>Collaborative hiring features</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets/images/home-image-3.jpg"
            alt="Job board hiring image"
            class="body-grid-card-img"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting. This centralized system can improve transparency.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Read more</button>
            <button mat-button>Suggest a feature</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="body-grid-card">
          <mat-card-header>
            <mat-card-title>Interactive video interviews</mat-card-title>
            <mat-card-subtitle>Interactive sessions included</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="assets/images/home-image-2.jpg"
            alt="Hiring image"
            class="body-grid-card-img"
          />
          <mat-card-content>
            <p>
              Traditional video interviews can be stiff and impersonal. This
              feature would offer an engaging, two-way video interview
              experience where candidates can showcase their personality and
              soft skills through pre-recorded video responses to specific
              questions.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Read more</button>
            <button mat-button>Suggest a feature</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
