.joblistings-detail-not-loggedin {
  text-align: center;
  font-size: 1.25rem;
}

.joblistings-detail-not-loggedin div {
  margin: 1rem 0;
}

.joblistings-detail-container {
  max-width: 800px;
  margin: 5rem auto 0 auto;
  color: var(--clr-grey-1);
}

.joblistings-detail-link {
  margin-bottom: 2rem;
}

.joblistings-detail-section {
  margin-bottom: 1.75rem;
}

.joblistings-detail-section h1 {
  font-weight: 700;
}

.joblistings-detail-description {
  max-width: 700px;
}

.joblistings-detail-requirements {
  max-width: 700px;
}
